.top-bar {
  background: $nav-background;

  ul {
    background: $nav-background;

    li.active-link {
      font-weight: bold;
      color: #fff;
    }
  }

  .menu-text {
    color: $nav-text-color
  }
}
