.top-bar {
  background: $nav-background;

  ul {
    background: $nav-background;

    li a.active-link {
      font-weight: bold;
      color: $active-link-color;
    }
  }

  .menu-text {
    color: $nav-text-color
  }
}
