.task {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background 0.3s ease;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.task__subtext {
  color: #999999;
}

.task-completed {
  p, .task__subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}
