// Colours

$dark-grey: #444;

// Navigation Colours

$nav-background: $dark-grey;
$nav-text-color: white;
$active-link-color: #8cf;

// Clock

$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;
$clock-text-color: white;
