@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components

.component {
  margin: 1em;
  padding: 1em;
  border: 2px solid Red;
  border-radius: 0.5em;

  button {
    margin-right: 1em;
  }
}
